@font-face {
    font-family: "Geist Mono", monospace;
    src: url(../font/Geist_Mono/GeistMono-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: 'Switzer Regular' monospace;
    src: url(../font/Switzer/Switzer-Black.otf) format("truetype");

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg:#000000;
    --font-primary: 'Switzer Regular', monospace;
    --font-secondary: 'Geist Mono', monospace;
}

body {
    background-color: var(--bg);

}

html::-webkit-scrollbar {
  display: none;
}



html{
    font-size: 62.5%;
}

.encabezado-principal {
    background-color: var(--bg);
    color: #fff;
    padding: 2rem;
    text-align: center;
}

.encabezado-principal > nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}


.encabezado-principal > nav > a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--font-primary);
    font-weight: 900;
}

.nav-right {
    display: flex;
    gap: 8rem;
}

.nav-right > ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    margin-right: 10.5rem;
}

.nav-right > ul > li {
    font-size: 1.5rem;
    color: #fff;
}

.nav-right > ul > li > a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 200;
    font-family: var(--font-primary);
}

.nav-right > ul > span {
    color: #fff;
    font-size: 1.5rem;
    font: 900;
    font-family: var(--font-primary);
}


.nav-right > div {
    display: flex;
    gap: 5rem;
}

.nav-right > div > a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
    font-family: var(--font-primary);
}

.nav-right > div > p {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 10.5rem;
}

.clock {
  font-family: "Monaco", "Courier New", monospace;
  font-size: 10px;
  letter-spacing: 0.5px;
}

.home {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20rem 1.8rem 20rem;
    column-gap: 1.6rem;
    row-gap: 1rem;
    height: 90vh;
}

.card{
    display:flex;
    flex-direction:column;
    gap:0rem;
    
}

.card-header{
    display:flex;
    align-items:flex-start;
    gap:1rem;
}

.indice{
    font-size:1rem;
    color:white;
    font-family: var(--font-secondary);
}

.card-texto{
    display:flex;
    flex-direction:column;
    font-family: var(--font-primary);
    font-size:1.1rem;
    color:white;
    padding: 0 0 1.8rem 2.5rem;
}

.card-texto :nth-child(1){
    font-family: var(--font-primary);
}


.box-oculta{
    display:none;
}


footer{
    display:flex;
    justify-content:space-between;
    gap:2rem;
    padding:2rem;
    font-family: var(--font-primary);
    font-size:1rem;
    color:white;
}


footer > a {
    color: #fff;
    text-decoration: none;
    border-bottom: 0.1rem solid #fff;
    padding-bottom: 0.1rem;

}

footer > span:nth-child(3){font-size: 1rem;}

footer > span:nth-child(2){margin-left: 35rem;}

